@{
    ViewData["Title"] = "HashSetAndList_Test";
}

<h1>新增資料效率(字串+流水號)</h1>
<h2>新增前Contain判斷有無重複</h2>
<h2>依序為 3、300、30000 筆</h2>

<a id="btn_Test" class="btn btn-info">開始測試兩者效率</a>

<h2>結果</h2>
<div class="row mb-6">
    <div class="col-2">HashSet耗費：</div>
    <div class="col-4"> <p id="HashSetSencod"></p></div>
</div>

<div class="row mb-6">
    <div class="col-2">List耗費：</div>
    <div class="col-4"><p id="ListSencod"></p></div>
</div>

<h3>HashSet：Search、Add、Remove 時間複雜度 O(1)</h3>
<h3>List：Search、Add、Remove 時間複雜度 O(n)</h3>


@section Scripts{
<script>
    $(function(){
        $('#btn_Test').on('click', function()
        {
            $.ajax({
                url: '/api/HashSetAndList',
                type: 'GET',
                error: function (xhr) { console.log('error', xhr) },
                success: function (response) {
                    $('#HashSetSencod').text(response[0] + '秒')
                    $('#ListSencod').text(response[1] + '秒')
                }
            });
        })
    })

</script>
}